<div class="root" style="position: relative;height:100%">
    <div class="control flex-main-container">
        <span class="flex-sub-container-left">
            <span ng-hide="chartOptions.disablePropertyChooser">
                <span ng-if="chartProperties.type == 'Scattered Plot'">
                    <div class="restrict-dropdown-menu" ng-hide="chartOptions.disableFirstProperty">
                        <label>X:</label>
                        <input type="text" ng-model="chartProperties.x_attribute" class="form-control"
                               style="width: 12em; display: inline; height:25px;"
                               placeholder="Enter attribute"
                               typeahead="column as column.text for column in getValidColumns(numericalColumns) | filter:$viewValue:$emptyOrMatch | orderBy:'text.toString()'"
                               typeahead-focus
                               typeahead-on-select="apiHandle.api.loadChart()"
                               typeahead-select-on-blur="true"/>
                    </div>
                    <div class="restrict-dropdown-menu" ng-hide="chartOptions.disableSecondProperty">
                        <label>Y:</label>
                        <input type="text" ng-model="chartProperties.y_attribute" class="form-control"
                               style="width: 12em; display: inline; height:25px;"
                               placeholder="Enter attribute"
                               typeahead="column as column.text for column in getValidColumns(numericalColumns) | filter:$viewValue:$emptyOrMatch | orderBy:'text.toString()'"
                               typeahead-focus
                               typeahead-on-select="apiHandle.api.loadChart()"
                               typeahead-select-on-blur="true"/>
                    </div>
                </span>
                <span ng-if="chartProperties.type == 'Column Chart'">
                    <div class="restrict-dropdown-menu" ng-hide="chartOptions.disableFirstProperty">
                        <label>X:</label>
                        <input type="text" ng-model="chartProperties.x_attribute" class="form-control"
                               style="width: 12em; display: inline; height:25px;"
                               placeholder="Enter attribute"
                               typeahead="column as column.text for column in getValidColumns(categoricalColumns) | filter:$viewValue:$emptyOrMatch | orderBy:'text.toString()'"
                               typeahead-focus
                               typeahead-on-select="apiHandle.api.loadChart()"
                               typeahead-select-on-blur="true"/>
                    </div>
                    <div class="restrict-dropdown-menu" ng-hide="chartOptions.disableSecondProperty">
                        <label>Y:</label>
                        <input type="text" ng-model="chartProperties.y_attribute" class="form-control"
                               style="width: 12em; display: inline; height:25px;"
                               placeholder="Enter attribute"
                               typeahead="column as column.text for column in getValidColumns(numericalColumns) | filter:$viewValue:$emptyOrMatch | orderBy:'text.toString()'"
                               typeahead-focus
                               typeahead-on-select="apiHandle.api.loadChart()"
                               typeahead-select-on-blur="true"/>
                    </div>
                </span>
                <span ng-if="chartProperties.type == 'Pie Chart' || chartProperties.type == 'Box Plot'">
                    <div class="restrict-dropdown-menu" ng-hide="chartOptions.disableFirstProperty">
                        <label>Summarize:</label>
                        <input type="text" ng-model="chartProperties.analytic" class="form-control"
                               style="width: 12em; display: inline; height:25px;"
                               placeholder="Enter attribute"
                               typeahead="column as column.text for column in getValidColumns(numericalColumns) | filter:$viewValue:$emptyOrMatch | orderBy:'text.toString()'"
                               typeahead-focus
                               typeahead-on-select="apiHandle.api.loadChart()"
                               typeahead-select-on-blur="true"/>
                    </div>
                    <div class="restrict-dropdown-menu" ng-hide="chartOptions.disableSecondProperty">
                        <label style="padding-right: 10px;">Group By:</label>
                        <input type="text" ng-model="chartProperties.group_by" class="form-control"
                               style="width: 12em; display: inline; height:25px;"
                               placeholder="Enter attribute"
                               typeahead="column as column.text for column in getValidColumns(categoricalColumns) | filter:$viewValue:$emptyOrMatch | orderBy:'text.toString()'"
                               typeahead-focus
                               typeahead-on-select="apiHandle.api.loadChart()"
                               typeahead-select-on-blur="true"/>
                    </div>
                </span>
            </span>
            <span ng-hide="chartOptions.disableMoreOptions" dhc-click-outside dhc-open-state="states.menuDisplays.moreOptions"
                              dhc-close-callback="toggleSlide(!states.menuDisplays.moreOptions,'more-options')">
                <a class="clickable" style="text-decoration:none;padding-left:20px;"
                   ng-click="toggleSlide(!states.menuDisplays.moreOptions,'more-options');selected='';">
                    <span class="fake-anchor-tag">More Options</span>
                    <i class="fa" ng-class="{'fa-chevron-up': states.menuDisplays.moreOptions, 'fa-chevron-down': !states.menuDisplays.moreOptions}"></i>
                </a>
                <div class="more-options floating-form" style="display: none;width:250px;">
                    <div ng-if="chartProperties.type == 'Scattered Plot'">
                        <label style="padding-right: 10px;">Group By:</label>
                        <div class="restrict-dropdown-menu input-group">
                            <input type="text" class="form-control"
                                   ng-model="chartProperties.group_by"
                                   typeahead="column as column.text for column in getValidColumns(categoricalColumns) | filter:$viewValue:$emptyOrMatch | orderBy:'text.toString()'"
                                   typeahead-on-select="apiHandle.api.loadChart()"
                                   typeahead-focus/>
                            <span class="dhc-clickable input-group-addon" ng-click="chartProperties.group_by = undefined;apiHandle.api.loadChart()">
                                <strong>X</strong>
                            </span>
                        </div>
                        <label>Radius:&nbsp;</label>
                        <div class="restrict-dropdown-menu input-group">
                            <input type="text" class="form-control"
                                   ng-model="chartProperties.radius"
                                   typeahead="column as column.text for column in getValidColumns(numericalColumns) | filter:$viewValue:$emptyOrMatch | orderBy:'text.toString()'"
                                   typeahead-on-select="apiHandle.api.loadChart()"
                                   typeahead-focus/>
                            <span class="dhc-clickable input-group-addon" ng-click="chartProperties.radius = undefined;apiHandle.api.loadChart()">
                                <strong>X</strong>
                            </span>
                        </div>
                        <div>
                            <label>Regression:&nbsp;</label>
                            <br/>
                            <div class="btn-group" dropdown>
                                <button id="split-button" type="button" class="btn btn-default">{{getRegressionText()}}</button>
                                <button type="button" class="btn btn-default" dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                                    <li role="menuitem" ng-repeat="type in chartFactory.regressionTypes"
                                        ng-click="apiHandle.api.changeRegressionType(type.tag)">
                                        <a href="#">{{type.text}}</a>
                                    </li>
                                    <li role="menuitem" ng-click="apiHandle.api.changeRegressionType()">
                                        <a href="#">None</a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="chartProperties.regression == 'polynomial'">
                                <label>Regression Degree:</label>
                                <input class="form-control" type="number" min="1" ng-model="chartProperties.regression_degree"
                                       ng-change="apiHandle.api.timeoutLoadChart()"/>
                            </div>
                        </div>
                        <br/>
                        <div>
                            <div>
                                <input type="checkbox" ng-model="chartProperties.show_datalabel" ng-click="apiHandle.api.timeoutLoadChart()"/>
                                Data Labels
                            </div>
                            <div style="padding-top:10px;">
                                <input type="checkbox" ng-model="chartProperties.outlier_remove" ng-click="apiHandle.api.timeoutLoadChart()"/>
                                Remove Outliers
                            </div>
                        </div>
                    </div>
                    <div ng-if="chartProperties.type == 'Column Chart'">
                        <label>Group By:&nbsp;</label>
                        <div class="restrict-dropdown-menu input-group">
                            <input type="text" class="form-control"
                                   ng-model="chartProperties.group_by"
                                   typeahead="column as column.text for column in getValidColumns(categoricalColumns) | filter:$viewValue:$emptyOrMatch | orderBy:'text.toString()'"
                                   typeahead-on-select="apiHandle.api.loadChart()"
                                   typeahead-focus/>
                            <span class="dhc-clickable input-group-addon" ng-click="chartProperties.group_by = undefined;apiHandle.api.loadChart()">
                                <strong>X</strong>
                            </span>
                        </div>
                    </div>
                    <div ng-if="chartProperties.type != 'Column Chart' && chartProperties.type != 'Scattered Plot'">
                        There are no other options for this type of chart
                    </div>
                </div>
            </span>
        </span>
        <span class="flex-sub-container-right">
            <span ng-hide="chartOptions.disableChartType" dhc-click-outside dhc-open-state="states.menuDisplays.changeChartType"
                              dhc-close-callback="toggleSlide(!states.menuDisplays.changeChartType,'change-chart-type')">
                <a class="clickable" style="text-decoration:none;padding-right:20px;"
                   ng-click="toggleSlide(!states.menuDisplays.changeChartType,'change-chart-type');selected='';">
                    <span class="fake-anchor-tag">Chart type</span>
                    <i class="fa" ng-class="{'fa-chevron-up': states.menuDisplays.changeChartType, 'fa-chevron-down': !states.menuDisplays.changeChartType}"></i>
                </a>
                <div class="change-chart-type floating-form" style="display: none;width:450px;right: 0px;">
                    <label>Chart Type:</label>
                    <br/>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="chartProperties.type" btn-radio="'Pie Chart'" ng-click="changeChartType()">Pie Chart</label>
                        <label class="btn btn-primary" ng-model="chartProperties.type" btn-radio="'Box Plot'" ng-click="changeChartType()">Box Plot</label>
                        <label class="btn btn-primary" ng-model="chartProperties.type" btn-radio="'Column Chart'" ng-click="changeChartType()">Column Chart</label>
                        <label class="btn btn-primary" ng-model="chartProperties.type" btn-radio="'Scattered Plot'" ng-click="changeChartType()">Scattered Plot</label>
                    </div>
                    <br/>
                    <br/>
                    <label>Data to show:</label>
                    <br/>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="chartProperties.dataToShow" btn-radio="'all'" ng-click="apiHandle.api.timeoutLoadChart()">All Data</label>
                        <label class="btn btn-primary" ng-model="chartProperties.dataToShow" btn-radio="'selected'" ng-click="apiHandle.api.timeoutLoadChart()">Selected Data</label>
                    </div>
                </div>
            </span>
            <span ng-hide="chartOptions.disableExporting">
                <span class="clickable" style="padding-right:5px;color:#005da0;" ng-click="exportXLS()" title="Excel"><i class="fa fa-file-excel-o"></i></span>
                <span class="clickable" style="padding-right:5px;color:#005da0;" ng-click="exportPDF()" title="PDF"><i class="fa fa-file-pdf-o"></i></span>
            </span>
            <span class="clickable" style="padding-right:5px;color:#005da0;" ng-repeat="customButton in customButtons" ng-click="customButton.callback()">
                <i class="fa" ng-class="customButton.faClass"></i>
            </span>
        </span>
    </div>
    <hr ng-hide="allPanelHidden()"/>
    <div class="chart-area-container">
        <i ng-show="isProcessing" class="fa fa-spinner fa-spin fa-3x spinner" style="position:absolute;top:0;left:0"></i>
        <!-- this is where the stock chart goes -->
        <div style="position:relative;height:100%">
            <alert ng-show="states.needAttrs" close="states.needAttrs = false" type="warning" style="font-size: 12px;position: absolute;z-index:999">
                Please enter required attributes
            </alert>
            <div class="dhc-chart-toolbar" ng-show="apiHandle.api.excludedPoints.length > 0">
                <a class="clickable" ng-click="apiHandle.api.resetExcludedPoints()">
                    Reset Points <i class="fa fa-refresh"></i>
                </a>
            </div>
            <div ng-attr-id="{{chartId}}" style="width:100%;height:100%;" ng-class="{'dhc-opaque': states.needAttrs}">
            </div>
        </div>
        <alert ng-show="alerts.generalWarning.active" style="position:absolute;bottom:0;right:0;"
               close="alerts.generalWarning.active = false" type="danger">
            {{alerts.generalWarning.message}}
        </alert>
    </div>
    <!--<div>-->
        <!--<span style="position:absolute;bottom:0;right:0;">-->
            <!--X: {{states.xVal}}-->
        <!--</span>-->
    <!--</div>-->
</div>